{% extends '@Club/Default/layoutFront.html.twig' %}

{% block body %}
    <section class="section-sm">
    <div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex align-items-center section-title justify-content-between">
                <h2 class="mb-0 text-nowrap mr-3">Nos Clubs</h2>
                <div class="border-top w-100 border-primary d-none d-sm-block"></div>

            </div>
        </div>
    </div>
    <!-- course list -->
    <div class="row justify-content-center">
    {% for c in club %}

    <div class="col-lg-4 col-sm-6 mb-5">
        <div class="card p-0 border-primary rounded-0 hover-shadow">

            <div class="card-body">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a class="text-color" href="#">{{c.nom}}</a></li>
                </ul>
                <a href="course-single.html">
                    <h4 class="card-title">{{ c.nom }} </h4>
                    <h4 class="card-title">{{c.dateCreation|date("m/d/Y")}} </h4>
                </a>


            </div>
        </div>
    </div>
    {% endfor %}

    </div>
        <!-- /course list -->
        <!-- mobile see all button -->
        <div class="row">
            <div class="col-12 text-center">
                <a href="courses.html" class="btn btn-sm btn-primary-outline d-sm-none d-inline-block">sell all</a>
            </div>
        </div>
    </div>
    </section>
    <!-- /courses -->


{% endblock %}