{% extends '@Club/Default/layoutFront.html.twig' %}

{% block body %}
    <h2 style="color : #df8a13">Rechercher des Club</h2>
    <h3>
    <table border=5 >
    <tr style="color : #df8a13">
        {{ form(f,{'attr':{'nom':'nom'}}) }}

    </tr>
{% for t in c %}
    <tr style="color :#00a6b2"> <td>Nom  </td>
        <td>Description </td>
        <td>Date creation </td>
    </tr>
    <tr>
        <td> {{  t.nom}}</td>
        <td> {{ t.description}}</td>
        <td>{{ t.dateCreation|date("m/d/Y")}}</td></tr>
{% endfor%}
</table></h3>
{% endblock %}